.scrollTop {
  position: fixed;
  cursor: pointer;
  bottom: 36px;
  right:26px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  width: 30px;
  height: 40px;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@media only screen and (max-width:600px){
  .scrollTop {
    right: 5px;
    width: 22px;
    height: 30px;
  }
}
